.form {
    text-align: right;
   
  }

  .form input {
    background-color: #383838;
    color: white;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a064f;
    /* border-color: #8a064f; */
    border: none;
    
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #383838;
    border: 1px solid #411605;
    /* background-color: #8a064f;
    border-color: #8a064f; */
  }